<div id="foodCardsContainer" class="food-card">
  <div class="offer">
    <p>{OFFER}</p>
  </div>
  <img src="{IMAGE}" alt="Food Image" class="food-card__image" />
  <div class="food-card-content">
    <div class="food-card__position">
      <p class="food-card__name">{NAME}</p>
      <p class="food-card__price">{PRICE}</p>
    </div>
    <div class="food-card__position">
      <div class="food-card__position">
        <div class="food-card__rating">
          <img
            src="images/JTGeats/star.svg"
            alt="Star Image"
            class="food-card__star"
          />
          <p class="food-card__rating-value">{RATING}</p>
        </div>
        <p class="food-card__delivery-time">{DELIVERY_TIME}</p>
      </div>
      <button class="addbtn">
        <img src="images/JTGeats/add_icon.svg" alt="Add icon" srcset="" />
      </button>
    </div>
  </div>
</div>
