<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer>
      <div class="container">
        <div class="logo">JTGeats</div>
        <div>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#menu">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="navLogo">
          <button>
            <img
              src="../images/JTGeats/Facebook.svg"
              alt="search icon"
              srcset=""
            />
          </button>
          <button>
            <img src="../images/JTGeats/insta.svg" alt="cart icon" />
          </button>
        </div>
      </div>
      <div class="line"></div>
    </footer>
  </body>
</html>
