<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/formSection.css" />
    <title>Form Section</title>
  </head>
  <body>
    <div class="formSection">
      <form action="submit" class="formDiv">
        <h6 class="textadj_h6">Do you have a question</h6>
        <h6 class="textadj_h6">or want to become a seller?</h6>
        <p class="textadj_p">
          Fill this form and our manager will contact you next 48 hours.
        </p>

        <div class="inputDiv">
          <input type="text" placeholder="Your Name" class="nameDiv space" />
          <input type="text" placeholder="Your Email" class="emailDiv space" />
        </div>
        <input type="text" placeholder="Your message" class="msgDiv space" />
        <button class="btnform">Submit</button>
      </form>

      <div>
        <img
          src="../images/JTGeats/Food_delivery.svg"
          alt="Food-Delivery Boy"
          srcset=""
        />
      </div>
    </div>
  </body>
</html>
