<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/searchSection.css" />
    <title>SearchSection</title>
  </head>
  <body>
    <section class="sectionOne">
      <div class="block">
        <h1>Authentic Home food in India</h1>
        <p>
          JTGeats is a courier service in which authentic home cook food is
          delivered to a customer.
        </p>
        <div class="search-container">
          <input type="text" placeholder="Search food you love" />
          <button type="button" class="searchbtn">Search</button>
        </div>
      </div>
      <div class="block">
        <img src="/images/JTGeats/cooking/cuate.svg" alt="Cooking" srcset="" />
      </div>
    </section>
  </body>
</html>
