<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/videoSection.css" />
    <title>Video Section</title>
  </head>
  <body>
    <section class="bgcolor">
      <div class="firstDiv">
        <div class="position_mid">
          <h1>We are providing best</h1>
          <h1>home cooked food delivery service.</h1>
          <p>Away from home and craving the tasty homemade recipes?</p>
          <p>Choose from a selection of our delicious home cooked dishes</p>
        </div>

        <div class="video-container">
          <video autoplay muted loop id="videoElement">
            <source src="../videos/videoplayback.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <button id="playPauseButton" class="play-pause-btn">&#x25B6</button>
        </div>
      </div>
      <div class="secondDiv"></div>
    </section>
  </body>
</html>
